/* Variables */
$button-height: 40px;
$container-height: 75vh;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
  padding: 25px;
}

.App-header {
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Main Container Styles */

.mainContainer {
  margin-top: 20px;
}

.leaderboard {
  height: $container-height;
}

.gameContainer {
  height: $container-height;
  // padding-top: calc(100% - $button-height);
  background-color: black;
  box-sizing: border-box;
}

.playButton {
  height: $button-height;
  width: 42%;
  margin: 0 auto;
  margin-top: calc(calc(#{$container-height} / 2) - #{$button-height});
  margin-bottom: calc(calc(#{$container-height} / 2) - #{$button-height});
  display: block;
  box-sizing: border-box;
  padding: 5px;
}

.playBtnText {
  font-size: 1em;
}
